{% extends "plantilla.html" %} {% block body %}

<div class="mt-2">
    <h1 class="text-center mb-5">Editar Estudiante</h1>
    <div class="row justify-content-center">
        <form class="row" method="post" action="/estudiante/{{estudiante.id}}">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="mb-3 col-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre"
                        value="{{estudiante.nombre}}">
                </div>
                <div class="mb-3 col-4">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input name="apellido" type="text" class="form-control" id="apellido"
                        placeholder="Ingresa tu apellido" value="{{estudiante.apellido}}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-4">
                    <label for="documento" class="form-label">Documento</label>
                    <input name="documento" type="text" class="form-control" id="documento"
                        placeholder="Ingresa tu No de documento" value="{{estudiante.numIdentificacion}}">
                </div>
                <div class="mb-4 col-4">
                    <label for="correo" class="form-label">Correo</label>
                    <input name="correo" type="text" class="form-control" id="correo" placeholder="Ingresa tu correo"
                        value="{{estudiante.correo}}">
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-4">
                    <label for="progAcademico" class="form-label">Programa Academico</label>
                    <input name="progAcademico" type="text" class="form-control" id="progAcademico"
                        placeholder="Ingresa tu programa academico" value="{{estudiante.programaAcademico}}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}